<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="col-md-12">
    <div class="card card-container">
      <div class="title">
        <h3><strong>Post Details</strong></h3>
      </div>
      <div class="jumbotron">
        <table style="width : 96%">
          <tr>
            <th style="width: 63%">
              <table style="width: 96%">
                <tr>
                  <img id="profile-img" src="//picsum.photos/192" class="profile-img-card"/>
                </tr>
                <tr>
                  <h4>{{ postPayload?.postTitle }}</h4>
                </tr>
                <br>
                <tr>
                  <strong>Descrizione:</strong>{{ postPayload?.postDescription}}
                </tr>
                <tr>
                  <strong>Location:</strong>
                  <agm-map [latitude]="postPayload?.location[0]" [longitude]="postPayload?.location[1]">
                    <agm-marker [latitude]="postPayload?.location[0]"
                                [longitude]="postPayload?.location[1]"></agm-marker>
                  </agm-map>
                </tr>
                <tr>
                  <strong>Category:</strong>{{ postPayload?.postType}}
                </tr>
                <tr>
                  <strong>Date of event:</strong>{{ postPayload?.postDate}}
                </tr>
                <tr>
                  <strong>Owner:</strong>{{ postPayload?.ownerName}}
                </tr>
                <tr>
                  <strong>Subscribers:</strong>{{ postPayload?.subscribers}}
                </tr>
              </table>
            </th>
          </tr>
        </table>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary btn-block">
          <a (click)="back()" class="btn btn-primary"> Back </a>
        </button>
      </div>
      <div class="center-obj" *ngIf="!checkSub()">
        <button class="btn btn-primary btn-block">
          <a (click)="subscribeToPost(postPayload.id)" class="btn btn-primary"> Subscribe </a>
        </button>
      </div>
      <div class="center-obj" *ngIf="checkSub()">
        <button class="btn btn-primary btn-block">
          <a (click)="deleteSubscribePost(postPayload.id)" class="btn btn-primary"> Remove me from subscribers </a>
        </button>
      </div>
      <div class="center-obj" *ngIf="checkOwner()">
        <button class="btn btn-primary btn-block">
          <a (click)="deleteMyPost(postPayload.id)" class="btn btn-primary"> Remove my post </a>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
