<div *ngIf="currentUser; else loggedOut">
  <div class="col-md-12">
    <div class="card card-container">
      <div class="title">
        <h3 class="center-obj center-div"><strong>Post Details</strong></h3>
      </div>
      <div class="jumbotron center-obj">
        <table style="width: 96%">
          <tr class="center-div">
            <h1 class="a wbreak">{{ postPayload?.postTitle }}</h1>
          </tr>
          <br>
          <tr class="center-div">
            <strong class="a">Description</strong>
            <a class="wbreak">{{ postPayload?.postDescription}}</a>
          </tr>
          <tr class="center-div">
            <strong class="a">Location:</strong>
            <div class="container" fxLayout="column">
              <div class="map" fxFlex="1 1 100%" #map>
                <agm-map style="width: 100%" [latitude]="postPayload?.location[0]"
                         [longitude]="postPayload?.location[1]">
                  <agm-marker [latitude]="postPayload?.location[0]"
                              [longitude]="postPayload?.location[1]"
                              href="https://www.google.com/maps/dir//43.3454762,12.9061842/@43.345476,12.906184,10z?hl=it-IT">
                  </agm-marker>
                </agm-map>
              </div>
            </div>
          </tr>
          <tr>
            <strong>Category:</strong>{{ postPayload?.postType}}
          </tr>
          <tr>
            <strong>Date of event:</strong>{{ postPayload?.postDate}}
          </tr>
          <tr>
            <strong>Owner:</strong>{{ postPayload?.ownerName}}
          </tr>
          <tr>
            <strong>Subscribers:</strong>{{ postPayload?.subscribers}}
          </tr>
        </table>
        <div *ngIf="checkVRF()">
          <div class="center-div" *ngIf="!checkSub()">
            <br>
            <button class="btn btn-primary" (click)="subscribeToPost(postPayload.id)"> Subscribe </button>
          </div>
          <div class="center-div" *ngIf="checkSub()">
            <br>
            <button class="btn btn-primary" (click)="deleteSubscribePost(postPayload.id)" > Remove me from subscribers </button>
          </div>
        </div>
        <div class="center-div" *ngIf="checkOwner()">
          <br>
          <button class="btn btn-danger" (click)="deleteMyPost(postPayload.id)">Remove my post </button>
        </div>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary">
          <a (click)="back()"> Back </a>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
