<!--
<div class="ui container" *ngIf="currentUser">
  <h2 class="ui orange header">
    {{ selectedMovie?.title }}
    <div class="sub header">{{ selectedMovie?.original_title }}</div>
  </h2>

  <div class="ui floating message" id="main">
    <div class="ui padded grid" id="content">
      <div class="middle aligned sixteen wide mobile eight wide tablet four wide computer column">
        <img *ngIf="selectedMovie?.poster_path" class="ui fluid image"
             src="https://image.tmdb.org/t/p/w600{{selectedMovie?.poster_path}}">
      </div>

      <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
        <div class="ui centered grid">


          <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <i *ngFor="let genre of selectedMovie?.genres" class="ui orange label">{{ genre.name }}</i>
          </div>



          <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">

              <span >Overview</span>
            </div>
            {{ postPayload?.postTitle }}
          </div>



          <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span >Additional information</span>
              {{ postPayload?.postDescription }}
            </div>

            <a *ngIf="selectedMovie?.imdb_id" href="http://www.imdb.com/title/{{ selectedMovie?.imdb_id }}/">
              <i class="ui yellow label">IMDb</i>
            </a>

            <a *ngIf="selectedMovie?.homepage" href="{{ selectedMovie?.homepage }}/">
              <i class="ui label">WWW</i>
            </a>
          </div>



          <div class="center aligned eight wide mobile eight wide tablet three wide computer column">
            <div class="ui green statistic">
              <div class="label">
                <span *ngIf="language == 'pl'">Ocena</span>
                <span *ngIf="language != 'pl'">Vote average</span>
              </div>
              <div class="text value">{{ selectedMovie?.vote_average }}</div>
            </div>
          </div>

          <div class="center aligned eight wide mobile eight wide tablet four wide computer column">
            <div class="ui green statistic">
              <div class="label">
                <span *ngIf="language == 'pl'">głosów</span>
                <span *ngIf="language != 'pl'">vote count</span>
              </div>
              <div class="text value">{{ selectedMovie?.vote_count }}</div>
            </div>
          </div>

          <div class="center aligned eight wide mobile eight wide tablet four wide computer column">
            <div class="ui teal statistic">
              <div class="label">
                <span *ngIf="language == 'pl'">Popularność</span>
                <span *ngIf="language != 'pl'">Popularity</span></div>
              <div class="text value">{{ selectedMovie?.popularity | number: '1.0-2' }}</div>
            </div>
          </div>

          <div class="center aligned eight wide mobile eight wide tablet five wide computer column">
            <div class="ui blue statistic">
              <div class="label">
                <span *ngIf="language == 'pl'">Data publikacji</span>
                <span *ngIf="language != 'pl'">Release date</span></div>
              <div class="text value">{{ selectedMovie?.release_date }}</div>
            </div>
          </div>



    <div class="sixteen wide column">
      <div class="ui large animated fluid button" tabindex="0" (click)="back()">
        <div class="visible content">
          <i class="left arrow icon"></i>
        </div>
        <div class="hidden content">
          <span *ngIf="language == 'pl'">Wróć</span>
          <span *ngIf="language != 'pl'">Back</span>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="col-md-12">
    <div class="card card-container">
      <div class="title">
        <h3><strong>Post Details</strong></h3>
      </div>
      <div class="jumbotron">
        <table style="width : 96%">
          <tr>
            <th style="width: 63%">
              <table style="width: 96%">
                <tr>
                  <img
                    id="profile-img"
                    src="//picsum.photos/192"
                    class="profile-img-card"
                  />
                </tr>
                <tr>
                  <h4>{{ postPayload?.postTitle }}</h4>
                </tr>
                <br>
                <tr>
                  <strong>Descrizione:</strong>
                  {{ postPayload?.postDescription}}
                </tr>
                <tr>
                  <strong>Location:</strong>
                  {{ postPayload?.location}}
                  <!--<agm-map [latitude]="latitude" [longitude]="longitude" [mapTypeId]='googleMapType'>
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                  </agm-map>
                  -->
                </tr>
                <tr>
                  <strong>Category:</strong>
                  {{ postPayload?.postType}}
                </tr>
                <tr>
                  <strong>Date of event:</strong>
                  {{ postPayload?.postDate}}
                </tr>
                <tr>
                  <strong>Owner:</strong>
                  {{ postPayload?.ownerName}}
                </tr>
                <tr>
                  <strong>Subscribers:</strong>
                  {{ postPayload?.subscribers}}
                </tr>
              </table>
            </th>
          </tr>
        </table>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary btn-block">
          <a (click)="back()" class="btn btn-primary"> Back </a>
        </button>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary btn-block">
          <a (click)="subscribeToPost(postPayload.id)" class="btn btn-primary"> Subscribe </a>
        </button>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary btn-block">
          <a (click)="deleteSubscribePost(postPayload.id)" class="btn btn-primary"> Remove me from subscribers </a>
        </button>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary btn-block">
          <a (click)="deleteMyPost(postPayload.id)" class="btn btn-primary"> Remove my post </a>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
