<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="col-md-12">
    <div class="card card-container">
      <div class="title">
        <h3><strong>Settings</strong></h3>
      </div>
      <div class="jumbotron">
        <table style="width : 96%">
          <tr>
            <th style="width: 63%">
              <table style="width: 96%">
                <tr>
                  <img
                    id="profile-img"
                    src="//picsum.photos/192"
                    class="profile-img-card"
                  />
                </tr>
                <tr>
                  <strong>Name:</strong>
                  {{ userDetails.name }}
                </tr>
                <tr>
                  <strong>Username:</strong>
                  {{ userDetails.username }}
                </tr>
                <tr>
                  <strong>Account Type:</strong>
                  {{ userDetails.roles}}
                </tr>
                <tr>
                  <strong>Set New Password:</strong>
                </tr>
                <input type="submit" class="btn btn-primary" value="Change Password" (click)="openPassModal()">

                <br>
                <br>
                <div>
                  <button class="btn btn-danger" (click)="deleteAccount()">
                    Delete account
                  </button>
                </div>
              </table>
            </th>
          </tr>
        </table>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary btn-block">
          <a [routerLink]="['/profile']" class="btn btn-primary"> Back to profile </a> <!-- todo salvare settings -->
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for change password -->
<jw-modal id="passwordModal">
  <div class="form-group">
    <form [formGroup]="formSettings" #ngSettings="ngForm" (ngSubmit)="onSubmit()"
          (keydown.enter) = ngSettings.onSubmit($event)
          (keydown)="keyDownFunction($event)">
      <label>New password</label>
      <input type="password" class="form-control" formControlName="newPass" required minlength="6">
      <div class="alert alert-danger" *ngIf="(submitted && formSettings.get('newPass').errors)">
        <div *ngIf="formSettings.get('newPass').hasError('required'); else lengthError">
            New password is required
        </div>
        <ng-template #lengthError>Password must be at least 6 characters</ng-template>
      </div>
      <label>Confirm new password</label>
      <input type="password" class="form-control" formControlName="confirmPass" required minlength="6">
      <div class="alert alert-danger" *ngIf="((submitted && ngSettings.submitted && formSettings.get('confirmPass').touched && formSettings.get('confirmPass').errors))">
        <div *ngIf="formSettings.get('confirmPass').hasError('required'); else lengthError">
          New password is required
        </div>
        <ng-template #lengthError>Password must be at least 6 characters</ng-template>
      </div>
      <div class="alert alert-danger"
           *ngIf="submitted && ngSettings.submitted && formSettings.get('confirmPass').value != formSettings.get('newPass').value">
          Passwords don't match!
      </div>
      <br>
      <input type="button" (click)="ngSettings.onSubmit($event)" class="btn btn-primary form-control" value="Change Password">
      <br><br>
      <button class="btn btn-danger form-control" (click)="closePassModal()">
        Close
      </button>
    </form>
  </div>
</jw-modal>

<ng-template #loggedOut>
  Please login.
</ng-template>
