<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="col-md-12">
    <div class="card card-container">
      <div class="title">
        <h3><strong>Settings</strong></h3>
      </div>
      <div class="jumbotron">
        <table style="width : 96%">
          <tr>
            <th style="width: 35%">
              <img
                id="profile-img"
                src="//picsum.photos/192"
                class="profile-img-card"
              />
            </th>
            <th style="width: 63%">
              <table style="width: 96%">
                <tr>
                  <strong>Name:</strong>
                  {{ userDetails.name }}
                </tr>
                <tr>
                  <strong>Username:</strong>
                  {{ userDetails.username }}
                </tr>
                <tr>
                  <strong>Account Type:</strong>
                  {{ userDetails.roles}}
                </tr>
                <tr>
                  <strong>Set New Password:</strong>
                </tr>
                <input type = "submit" class = "btn btn-primary" value = "Change Password" (click)="openPassModal()">

                <br>
                <br>
                <div>
                <button class="btn btn-danger" (click)="deleteAccount()">
                  Delete account
                </button>
                </div>
              </table>
            </th>
          </tr>
        </table>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary btn-block">
          <a [routerLink]="['/profile']" class="btn btn-primary"> Back to profile </a> <!-- todo salvare settings -->
        </button>
      </div>
    </div>
  </div>
</div>

<jw-modal id="passwordModal">
  <form [formGroup]="formSettings" (ngSubmit)="onSubmit()">
    <input type = "password" formControlName = "newPass">
    <br>
    <br>
    <input type = "submit" class = "btn btn-primary" value = "Change Password">
  </form>
</jw-modal>

<ng-template #loggedOut>
  Please login.
</ng-template>
