<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="col-md-12">
    <div class="card card-container">
      <div class="title">
        <h3><strong>Settings</strong></h3>
      </div>
      <div class="jumbotron">
        <table style="width : 96%">
          <tr>
            <th style="width: 35%">
              <img
                id="profile-img"
                src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                class="profile-img-card"
              />
            </th>
            <th style="width: 63%">
              <table style="width: 96%">
                <tr>
                  <strong>{{ userDetails.name }}</strong>
                </tr>
                <tr>
                  <strong>Email:</strong>
                  {{ userDetails.username }}
                </tr>
                <tr>
                  <strong>Roles:</strong>
                  {{ userDetails.roles}}
                </tr>
                <form [formGroup]="changePasswordForm" class="form-group" (ngSubmit)="changePassword()"></form>
                  <label>New Password</label>
                  <input
                    formControlName="pass"
                    id="pass"
                    type="password"
                    class="form-control" />
                  <input class="btn btn-primary" type="submit" />

                <br>
                <div>
                <button class="btn btn-primary" type="submit">
                  Delete account
                </button>
                </div>
              </table>
            </th>
          </tr>
        </table>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary btn-block">
          <a [routerLink]="['/profile']" class="btn btn-primary"> Back to profile </a> <!-- todo salvare settings -->
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
