/* MODAL STYLES
-------------------------------*/
jw-modal {
    /* modals are hidden by default */
    display: none;

    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 50%;
        bottom: 0;
        left: 50%;
        height: 80%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        /* z-index must be higher than .jw-modal-background */
        z-index: 1000;

        /* enables scrolling for tall modals */
        overflow: auto;

        .jw-modal-body {
            position: center;
            padding: 40px;
            background: #fff;

            /* margin exposes part of the modal background */

        }

    }

    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;

        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

@media all and (max-width: 320px) {
  .jw-modal{
    min-width: 100%;
  }
}

@media all and (max-width: 400px) {
  .jw-modal{
    min-width: 98%;
  }
}

@media all and (max-width: 500px) {
  .jw-modal{
    min-width: 95%;
  }
}

@media all and (max-width: 500px) {
  .jw-modal{
    min-width: 90%;
  }
}

@media all and (max-width: 700px) {
  .jw-modal{
    min-width: 80%;
  }
}

@media all and (max-width: 900px) {
  .jw-modal{
    min-width: 70%;
  }
}

@media all and (min-width: 900px) {
  .jw-modal{
    min-width: 50%;
  }
}



