<div class="card card-custom" *ngIf="!currentUser">
  <mat-tab-group dynamicHeight disableRipple>
    <mat-tab label="User">
      <br>
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
      <form [formGroup]="formSignup" #ngSignup="ngForm" (ngSubmit)="onSubmit()"
            (keydown.enter)=ngSignup.onSubmit($event)
            (keydown)="keyDownFunction($event)">
        <div class="form-group" id="person">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" required email>
          <div class="alert alert-danger"
               *ngIf="((formSignup && ngSignup.submitted && formSignup.get('email').touched && formSignup.get('email').errors))">
            <div *ngIf="formSignup.get('email').hasError('required'); else emailValid">
              Email is required
            </div>
            <ng-template #emailValid>Email must be a valid email address</ng-template>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="pass" required minlength="6">
          <div class="alert alert-danger" *ngIf="(submitted && formSignup.get('pass').errors)">
            <div *ngIf="formSignup.get('pass').hasError('required'); else lengthError">
              Password is required
            </div>
            <ng-template #lengthError>Password must be at least 6 characters</ng-template>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" required>
          <div class="alert alert-danger" *ngIf="(submitted && formSignup.get('name').errors)">
            <div *ngIf="formSignup.get('name').hasError('required')">
              Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" formControlName="surname" required>
          <div class="alert alert-danger" *ngIf="(submitted && formSignup.get('surname').errors)">
            <div *ngIf="formSignup.get('surname').hasError('required')">
              Surname is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="birthDate">Birth date</label>
          <input type="date" class="form-control" formControlName="birthDate" required>
          <div class="alert alert-danger" *ngIf="(submitted && formSignup.get('birthDate').errors)">
            <div *ngIf="formSignup.get('birthDate').hasError('required')">
              Birth date is required
            </div>
          </div>
        </div>
        <div class="alert alert-warning" *ngIf="ngSignup.submitted && isSignUpFailed">
          Signup failed!<br/>{{ errorMessage }}
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Business User" class="tab-title">
      <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
    <link [routerLink]="['/login']">
  </div>
</div>
