<div class="card card-custom" *ngIf="!currentUser">
  <mat-tab-group disableRipple (selectedTabChange)="onTabChanged($event);">
    <!------------------- User Signup ---------------------------->
    <mat-tab label="User">
      <br>
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
      <form [formGroup]="formSignup" #ngSignup="ngForm" (ngSubmit)="onSubmit()"
            (keydown.enter)=ngSignup.onSubmit($event)
            (keydown)="keyDownFunction($event)">
        <div class="form-group" id="person">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" required email>
          <div class="alert alert-danger"
               *ngIf="((formSignup && ngSignup.submitted && formSignup.get('email').touched && formSignup.get('email').errors))">
            <div *ngIf="formSignup.get('email').hasError('required'); else emailValid">
              Email is required
            </div>
            <ng-template #emailValid>Email must be a valid email address</ng-template>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="pass" required minlength="6">
          <div class="alert alert-danger" *ngIf="(submitted && formSignup.get('pass').errors)">
            <div *ngIf="formSignup.get('pass').hasError('required'); else lengthError">
              Password is required
            </div>
            <ng-template #lengthError>Password must be at least 6 characters</ng-template>
          </div>
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name" required>
          <div class="alert alert-danger" *ngIf="(submitted && formSignup.get('name').errors)">
            <div *ngIf="formSignup.get('name').hasError('required')">
              Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Surname</label>
          <input type="text" class="form-control" formControlName="surname" required>
          <div class="alert alert-danger" *ngIf="(submitted && formSignup.get('surname').errors)">
            <div *ngIf="formSignup.get('surname').hasError('required')">
              Surname is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Birth date</label>
          <input type="date" class="form-control" formControlName="birthDate" required>
          <div class="alert alert-danger" *ngIf="(submitted && formSignup.get('birthDate').errors)">
            <div *ngIf="formSignup.get('birthDate').hasError('required')">
              Birth date is required
            </div>
          </div>
        </div>
        <div class="alert alert-warning" *ngIf="ngSignup.submitted && isSignUpFailed">
          Signup failed!<br/>{{ errorMessage }}
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </form>
    </mat-tab>
    <!------------------- Business user Signup ---------------------------->
    <mat-tab label="Business User" class="tab-title">
      <br>
      <img id="profile-img " src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card"/>
      <form [formGroup]="formSignupVRF" #ngSignupVRF="ngForm" (ngSubmit)="onSubmitVRF()"
            (keydown.enter)=ngSignupVRF.onSubmit($event)
            (keydown)="keyDownFunction($event)">
        <div class="form-group" id="Business">
          <label>VATNumber</label>
          <input type="text" class="form-control" formControlName="VATNumber" required minlength="8">
          <div class="alert alert-danger"
               *ngIf="((formSignupVRF && ngSignupVRF.submitted && formSignupVRF.get('VATNumber').touched && formSignupVRF.get('VATNumber').errors))">
            <div *ngIf="formSignupVRF.get('VATNumber').hasError('required'); else VATValid">
              VATNumber is required
            </div>
            <ng-template #VATValid>VAT number must be a valid VAT number</ng-template>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" required minlength="6">
          <div class="alert alert-danger" *ngIf="(submitted && formSignupVRF.get('password').errors)">
            <div *ngIf="formSignupVRF.get('password').hasError('required'); else VATpasslengthError">
              Password is required
            </div>
            <ng-template #VATpasslengthError>Password must be at least 6 characters</ng-template>
          </div>
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="VATname" required>
          <div class="alert alert-danger" *ngIf="(submitted && formSignupVRF.get('VATname').errors)">
            <div *ngIf="formSignupVRF.get('VATname').hasError('required')">
              Name is required
            </div>
          </div>
        </div>
        <div class="alert alert-warning" *ngIf="ngSignupVRF.submitted && isSignUpFailed">
          Signup failed!<br/>{{ errorMessage }}
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
    <link [routerLink]="['/login']">
  </div>
</div>
