<div class="postcard container" *ngIf="currentUser; else loggedOut">
  <div class="cards-list">
    <div class="card" *ngFor="let post of postPayload" [routerLink]="['/post/'+post.id]" routerLinkActive="active">

      <div class="card1">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="post_title title-white">
          <h4>{{post.postTitle}}</h4>
        </div>
        <div class="post_title title-white">
          <h4>{{post.postDate}}</h4>
        </div>
        <div class="post_title title-white">
        <h4>{{post.subscribers}}</h4>
      </div>
      </div>


    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div class="bg-image">
    <div id="box" class="bg-text">
      <h1 style="font-size:50px">JustMeet</h1>
      <h3>An awesome platform to share event and participate</h3>
      <button class="btn btn-secondary" onclick="window.location.href='/login'">Login</button>
      <br>
      <button class="btn btn-secondary" onclick="window.location.href='/register'">Sign Up</button>
    </div>
  </div>
</ng-template>


