<div class="container" *ngIf="checkMod || checkAdmin; else pageNotFound">
  <div class="col-md-12">
    <div class="card card-container">
      <div class="title">
        <h3><strong>Admin Board</strong></h3>
      </div>
      <div class="jumbotron">
        <table style="width : 96%">
          <tr>
            <th style="width: 63%">
              <table style="width: 96%">
                <tr>
                  <img
                    id="profile-img"
                    src="//picsum.photos/192"
                    class="profile-img-card"
                  />

                </tr>
                <tr>
                  <strong>{{ userDetails.details }}</strong>
                </tr>
                <br>
                <tr>
                  <strong>Username:</strong>
                  {{ userDetails.username }}
                </tr>
                <tr>
                  <strong>Account Type:</strong>
                  {{ userDetails.roles}}
                </tr>
                <tr>
                  <strong>Change User Password:</strong>
                </tr>
              </table>

              <form [formGroup]="formEmail" #ngFormEmail="ngForm"
                    (keydown.enter)=ngFormEmail.onSubmit($event)>
                <div class="form-group" id="person">
                  <label>Set username to apply changes</label>
                  <input type="text" class="form-control" formControlName="email" placeholder="user mail" required>
                  <div class="alert alert-danger"
                       *ngIf="((formEmail && ngFormEmail.submitted && formEmail.get('email').touched && formEmail.get('email').errors))">
                    <div *ngIf="formEmail.get('email').hasError('required'); else emailValid">
                      Email is required
                    </div>
                    <ng-template #emailValid>Email must be a valid email address</ng-template>
                  </div>
                </div>
              </form>

              <form [formGroup]="formPass" #ngFormPass="ngForm"
                    (keydown.enter)=ngFormPass.onSubmit($event)>
                <div class="form-group">
                  <label>Change user Password</label>
                  <input type="password" class="form-control" formControlName="pass" placeholder="new password" required
                         minlength="6">
                  <div class="alert alert-danger" *ngIf="(ngFormPass.submitted && formPass.get('pass').errors)">
                    <div *ngIf="formPass.get('pass').hasError('required'); else lengthError">
                      Password is required
                    </div>
                    <ng-template #lengthError>Password must be at least 6 characters</ng-template>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block" (click)="changeUserPass()">Change User Password</button>
                </div>
              </form>

              <form [formGroup]="formRole" #ngFormRole="ngForm"
                    (keydown.enter)=ngFormRole.onSubmit($event)>
                <div class="form-group">
                  <label>Change user Role</label>
                  <select name="roles" id="roles" class="form-control" formControlName="roles">
                    <option value="MOD" class="form-control" formControlName="roles">Moderator</option>
                    <option value="ADMIN" class="form-control" formControlName="roles">Admin</option>
                    <option value="STD" class="form-control" formControlName="roles">Standard</option>

                  </select>

                  <div class="alert alert-danger" *ngIf="(ngFormRole.submitted && formRole.get('roles').errors)">
                    <div *ngIf="formRole.get('roles').hasError('required'); else lengthError">
                      Role is required
                    </div>
                    <ng-template #lengthError>Role must be MOD , STD , VRF , ADMIN</ng-template>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block" (click)="changeUserRole()">Change User Role</button>
                </div>
              </form>

              <form [formGroup]="formActive" #ngFormActive="ngForm"
                    (keydown.enter)=ngFormActive.onSubmit($event)>
                <div class="form-group">
                  <label>Deactivate / Deactivate user</label>

                  <select name="active" id="active" class="form-control" formControlName="active">
                    <option value="true" class="form-control" formControlName="active">Activate</option>
                    <option value="false" class="form-control" formControlName="active">Deactivate</option>
                  </select>

                  <div class="alert alert-danger" *ngIf="(ngFormActive.submitted && formActive.get('roles').errors)">
                    <div *ngIf="formActive.get('active').hasError('required'); else lengthError">
                      active is required
                    </div>
                    <ng-template #lengthError>Active must be set</ng-template>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block" (click)="changeUserActive()">Change User Status</button>
                </div>
              </form>

              <br>
              <div>
                <div class="form-group">
                  <label>Delete an user account</label>
                </div>
                  <button class="btn btn-danger" (click)="deleteUserAccount()">
                  Delete account
                </button>
              </div>





            </th>
          </tr>
        </table>
      </div>
      <!-- da compilare con button change parametri -->
    </div>
  </div>
</div>
<ng-template #pageNotFound>
  Page not Found
</ng-template>
