<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="col-md-12">
    <div class="card card-container">
      <div class="title">
        <h3><strong>Profile</strong></h3>
      </div>
      <div class="jumbotron">
        <table style="width : 96%">
          <tr>
            <th style="width: 63%">
              <table style="width: 96%">
                <tr>
                  <img id="profile-img" src="//picsum.photos/192" class="profile-img-card"                  />
                </tr>
                <tr>
                  <strong>{{ userDetails.details }}</strong>
                </tr>
                <br>
                <tr>
                  <strong>Username:</strong>{{ userDetails.username }}
                </tr>
                <tr>
                  <strong>Account Type:</strong>{{ userDetails.roles}}
                </tr>
                <br>
                <tr>
                  <strong>My Posts:</strong>
                  <ul *ngFor="let post of postPayload" [routerLink]="['/post/'+post.id]" routerLinkActive="active">
                    <li>
                      <p style="text-decoration: underline">{{post.postTitle}}</p>
                    </li>
                  </ul>
                </tr>
              </table>
            </th>
          </tr>
        </table>
      </div>
      <div class="center-obj">
        <button class="btn btn-primary btn-block">
          <a [routerLink]="['/settings']" class="btn btn-primary"> Edit Profile Settings </a>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
